<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pt.module_mine">

    <application>
        <activity android:name=".PublishRequestSaleActivity"
            android:theme="@style/DefaultCityPickerTheme"/>
        <activity android:name=".PublishGoodsSaleActivity"
            android:theme="@style/DefaultCityPickerTheme"/>
        <activity android:name=".ApplicationForQualiActivity" />
        <activity android:name=".ApplyMoneyActivity" />
        <activity android:name=".PublishListActivity" />
        <activity android:name=".FundSideListActivity" />
        <activity android:name=".GoodsModifyActivity"
            android:theme="@style/DefaultCityPickerTheme"/>
        <activity android:name=".PublishStatusActivity" />
    </application>

</manifest>